@import 'variables';
@import 'mixins';

.about {
  .about-image {
    border: 1px solid $grey;
    border-radius: 50%;
    margin: 8px auto 0 auto;
    display: block;
    box-shadow: $grey-box-shadow;
    width: 96px;
    height: 96px;

  }
  .description {
    color: $grey;
    font-style: italic;
    font-size: 16px;
    line-height: 18px;
    margin: 16px 8px 0 8px;
    text-align:center;
  }

}

@include respond-to(tablet) {
  .about {
    .about-image {
      margin-top: 12px;
    }
    .description {
      margin-left: 144px;
      margin-right: 144px;
    }
  }
}

@include respond-to(desktop) {
  .about {
    .about-image {
      margin-top: 24px;
      width: 120px;
      height: 120px;
    }
    .description {
      margin: 32px 360px 0 360px;

    }
  }
}