@import 'variables';
@import 'mixins';

.footer {
  margin-top: 28px;
  padding: 16px 8px 16px 8px;
  font-size: 16px;
  text-align: center;
  background-color: $grey;
  color: #fff;
}

@include respond-to(desktop) {
  .footer {
    margin-top: 40px;
  }
}