@import 'mixins';

.header {

  position: relative;
  overflow: hidden;

  .page-title,
  .description-para,
  .intro-para{
    text-align: center;
    color: #333;
  }

  .page-title {
    font-size: 28px;
    margin-top: 16px;
  }

  .description-para {
    font-size: 20px;
    margin-top: 4px;
  }

  .intro-para {
    font-size: 16px;
    font-style: italic;
    line-height: 18px;
    margin: 24px 16px 0 16px;

  }
}

@include respond-to(tablet) {
  .header {

    .page-title,
    .description-para {
      text-align: left;
      margin-left: 16px;
      margin-right: 16px;
    }

    .description-para {
      margin-top: 8px;
    }

    .intro-para {
      margin: 24px 88px 0 88px;
      line-height: 20px;
    }
  }
}

@include respond-to(desktop) {
  .header {
    .page-title {
      font-size: 32px;
      margin-top: 24px;
    }
    .description-para {
      font-size: 24px;
    }
    .intro-para {
      font-size: 20px;
      line-height: 24px;
      margin: 48px 224px 0 224px;
    }
  }
}

