@import 'variables';
@import 'mixins';

.link-list {
  margin: 8px 32px 0 32px;

  .link {
    display: block;
    font-size: 16px;
    text-decoration: none;
    color: $light-grey;
    margin-top: 8px;
    padding: 10px 0 0 40px;
    min-height: 22px;
    position: relative;
    @include transition(color, 0.2s, linear);

    &:hover {
      color: $grey;
    }

  }

  .icon {
    position: absolute;
    top: 0;
    left: 0;
    height: 32px;
    width: 32px;
  }

  .path {
    @include transition(fill, 0.2s, linear);
  }

  $linked-in-blue: #4875B4;

  .linked-in-svg {

    .background-path {
      fill: $light-grey;
    }
    .text-path {
      fill: $white;
    }
  }

  $github-grey : #0D2636;

  .github-svg {
    .path {
      fill: $light-grey;
    }
  }

  .globe-svg {
    .path {
      fill: $light-grey;
    }
  }

  .link:hover {

    .linked-in-svg {
      .background-path {
        fill: $linked-in-blue;
      }
    }

    .github-svg {
      .path {
        fill: $github-grey;
      }
    }

    .globe-svg {
      .path {
        fill: blue;
      }
    }
  }

}

@include respond-to(tablet) {
  .link-list {
    margin-left: 184px;
    margin-right: 184px;
  }
}

@include respond-to(desktop) {
  .link-list {
    margin: 24px 360px 0 360px;

    .link {
      margin-top: 16px;
    }

  }
}