@import 'variables';
@import 'mixins';

.navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  .menu-link {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px;
    z-index: 10;

  }

  .navigation-list {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-color: $transparent-grey;
    display: none;
    &.open {
      display: block;
      animation-duration: 0.4s;
      animation-name: fadein;
    }
  }

  .navigation-link {
    display: block;
    text-align: center;
    font-size: 20px;
    margin: 16px 0;
    text-decoration: none;
    color: #fff;
  }
}

@include respond-to(tablet){
  .navigation {
    .navigation-list {
      padding-top: 40px;
    }
  }
}

@include respond-to(desktop) {
  .navigation {
    .menu-link {
      display: none;
    }
    .navigation-list {
      display: block;
      top: 56px;
      right: 16px;
      left: auto;
      text-align: right;
      padding-top: 0;
      background-color: transparent;;
    }

    .navigation-item {
      display: inline-block;
    }

    .navigation-link {
      display: inline-block;
      font-size: 24px;
      color: $grey;
      border-bottom: solid 2px $grey;
      padding-bottom: 4px;
      margin: 0 16px;
      @include transition(all, 0.2s, linear);

      &:hover {
        color: $light-grey;
        border-color: $light-grey;
      }
    }
  }
}