@import 'variables';
@import 'mixins';

.pop-up {

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $transparent-grey;
  z-index: 1000;
  text-align: center;
  padding-top: 32px;

  .close-link {
    position: fixed;
    top: 16px;
    right: 14px;
  }

  .image-container {
    margin: 32px 16px;
  }

  .pop-up-image {
    max-width: 100%;
    height: auto;
  }

  &.invisible {
    display: none;
  }

  &.visible {
    display: block;
    animation-duration: 0.4s;
    animation-name: fadein;
  }

}