@import 'variables';
@import 'mixins';

.project-item {

  width: 50%;

  .container {
    position: relative;
    top: 0;
    border: 1px solid $grey;
    margin: 6px 3px 0 3px;
    opacity: 1;
    @include transition(opacity, 0.5s, linear);
    @include transition(top, 0.5s, linear);
    box-shadow: $grey-box-shadow;
    display: block;
  }

  &.invisible {
    .container {
      opacity: 0;
      top: 32px;
    }
  }

  .details-link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    z-index: 10;
  }

  .image-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
  }

  .image {
    position: absolute;
    width: auto;
    top: 0;
  }

  &.big {

    .container {
      background-color: #00f;
    }

    .container,
    .image {
      height: map-get(map-get($project-image-height, mobile), big);
    }
  }

  &.small {

    .container {
      background-color: #f00;
    }
    .container,
    .image {
      height: map-get(map-get($project-image-height, mobile), small);
    }
  }

  .keyword-container {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $transparent-grey;
    padding: 8px;
    text-align: center;
    display: block;
  }

  .keyword{
    font-size: 12px;
    color: #fff;
  }

  .keyword {
    display: inline;

    &:after {
      content: ', ';
    }
    &:last-child:after {
      content: '';
    }
  }

  .sub-title {
    font-weight: bold;
  }

  .sub-item {
    margin-top: 4px;
  }


}

@include respond-to(tablet) {

  .project-item {
    width: 33.33%;

    &.small {

      .container,
      .image {
        height: map-get(map-get($project-image-height, tablet), small);
      }
    }

    &.big {

      .container,
      .image {
        height: map-get(map-get($project-image-height, tablet), big);
      }
    }

  }

}

@include respond-to(desktop) {
  .project-item {

    opacity: 0.75;
    @include transition(opacity, 0.2s, linear);

    &.small {

      .container,
      .image {
        height: map-get(map-get($project-image-height, desktop), small);
      }

    }

    &.big {

      .container,
      .image {
        height: map-get(map-get($project-image-height, desktop), big);
      }
    }
    .keyword-container {
      padding: 16px;
      @include transition(padding, 0.2s, linear);
    }
    .keyword {
      font-size: 16px;
    }
    &.hover {
      opacity: 1;
      .keyword-container {
        padding-top: 24px;
        padding-bottom: 24px;
      }
    }
    &.active {
      opacity: 1;
      @include transition(opacity, 0, linear);
    }
  }

}
