@mixin transition($property, $duration, $type) {
  -webkit-transition: $property $duration $type;
  -moz-transition: $property $duration $type;
  -o-transition: $property $duration $type;
  transition: $property $duration $type;
}

.project-item {

  .container {
    position: relative;
    top: 0;
    border: 2px solid #ccc;
    margin: 8px 4px 0 4px;
    padding-left: 316px;
    min-height: 276px;
    width: 200px;
    opacity: 1;
    padding-bottom: 8px;
    @include transition(all, 0.3s, linear);
  }

  &.invisible {
    .container {
      opacity: 0;
      top: 32px;
    }
  }

  .project-title {
    font-size: 20px;
    font-weight: bold;
    margin-top: 8px;
  }

  .description,
  .sub-title,
  .sub-item,
  .keyword{
    font-size: 16px;
  }

  .description,
  .sub-title{
    font-size: 16px;
    margin-top: 8px;
  }

  .image {
    width: 300px;
    height: auto;
    position: absolute;
    top: 8px;
    left: 8px;
  }

  .keyword {
    display: inline;

    &:after {
      content: ', ';
    }
    &:last-child:after {
      content: '';
    }
  }

  .sub-title {
    font-weight: bold;
  }

  .sub-item {
    margin-top: 4px;
  }





}