@import 'mixins';

.project-list {
  margin: 8px -3px 0 -3px;
}

@include respond-to(tablet) {
  .project-list {
    margin-top: 8px;
    margin-right: auto;
    margin-left: auto;

  }
}

@include respond-to(desktop) {
  .project-list {
    margin: 26px 13px 0 13px;

  }
}