@import 'variables';
@import 'mixins';

.project-details {

  display: none;
  position: absolute;
  top: -56px;
  right: -16px;
  left: -16px;
  padding: 0 16px 16px 16px;
  z-index: 200;
  color: #fff;
  background-color: $transparent-grey;

  @keyframes project-details-fadein {
    from {
      background-color: transparent;
    }
    to {
      background-color: $transparent-grey;
    }
  }

  &.open {
    display: block;
    animation-duration: 1s;
    animation-name: project-details-fadein;
  }

  .project-title {
    font-size: 20px;
    margin-top: 8px;
    text-align: center;
  }

  .close-link {
    position: absolute;
    top: 8px;
    right: 4px;
  }

  &.open .keyword-container {
    position: static;
    background-color: transparent;
    padding-top: 0;
    padding-bottom: 12px;
  }

  .details-image {
    height: map-get(map-get($project-image-height, mobile), small);
    width: auto;
  }

  .dates {
    text-align: center;
    font-size: 12px;
    margin-top: 16px;
  }

  .end-date {
    display: none;
  }

  .project-link-list {
    text-align: center;
  }

  .project-link {
    text-decoration: none;
    color: $white;
    font-size: 11px;
    &:hover {
      text-decoration: underline;
    }
  }

  .description {
    display: block;
    margin: 8px 16px 0 16px;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
  }

  .big & {
    right: -100%;
    left: 0;
    margin-left: -1px;
    margin-right: -9px;
    padding-right: 1px;
    padding-left: 1px;

    .close-link {
      right: 8px;
    }

    .details-image {
      height: map-get(map-get($project-image-height, mobile), big);
    }

    .sub-item {
      margin-top: 8px;
    }

    .end-date {
      display: inline;
    }

    .project-link-list {
      margin-top: 12px;
      text-align: center;
    }

    .project-link-item {
      display: inline;
      &:before {
        content: ' ';
      }
      &:after {
        content : ' ● ';
      }
      &:last-child:after {
        content: '';
      }
    }

  }

  .small &.column-two {
    .close-link {
      left: 4px;
      right: auto;
    }
  }

  .big &.column-two {
    left: -100%;
    right: 0;
    margin-left: -9px;
    margin-right: -1px;

  }

}

@include respond-to(tablet) {
  .project-details {
    .details-image {
      height: map-get(map-get($project-image-height, tablet), small);;
    }

    .small &.column-two {
      .close-link {
        right: 4px;
        left: auto;
      }
    }

    .small &.column-three {
      .close-link {
        right: auto;
        left: 4px;
      }
    }

    .big &,
    .big &.column-two{

      right: -210%;
      left: -10%;
      padding-left: 10%;
      padding-right: 10%;

      .close-link {
        right: 20px;
      }

      .details-image {
        height: map-get(map-get($project-image-height, tablet), big);;
      }
    }

    .big &.column-two {
      right: -110%;
      left: -110%;
    }
    .big &.column-three {
      right: -10%;
      left: -210%;
      padding-left: 3%;
      padding-right: 3%;
      .close-link {
        right: 36px;
      }
    }
  }
}

@include respond-to(desktop) {
  .project-details {

    top: -88px;
    right: -24px;
    left: -24px;
    padding-left: 24px;
    padding-right: 24px;

    .project-title {
      font-size: 28px;
      margin-top: 28px;
    }
    .keyword-container {
      margin-top: 4px;
    }
    .close-link,
    .small &.column-three .close-link {
      top: 32px;
      right: 12px;
      left: auto;
    }
    .details-image {
      height: map-get(map-get($project-image-height, desktop), small);
    }
    .dates {
      margin-top: 16px;
      font-size: 16px;
    }
    .description {
      font-size: 16px;
      line-height: 18px;
    }
    .project-link-list {
      margin-top: 16px;
    }
    .project-link {
      font-size: 16px;
    }

    $list-width: 1030px;
    $column-width: $list-width * 0.333;

    .big &,
    .big &.column-two,
    .big &.column-three{

      top: -96px;
      left: -$list-width;
      right: - (2 * $column-width) - $list-width;
      padding: 0 0 48px 0;
      margin-left: 0;
      margin-right: 0;

      .details-container {
        width: $list-width - 8px;
        margin: 0 auto;
        position: relative;
      }
      .close-link {
        top: 0;
        right: 0;
      }
      .keyword-container {
        margin-top: 8px;
        padding-bottom: 16px;
      }
      .details-image {
        height: map-get(map-get($project-image-height, desktop), big);
      }
      .description {
        margin-left: 208px;
        margin-right: 208px;
      }
      .project-link-list {
        margin-top: 16px;
      }

    }

    .big &.column-two {
      left: -($list-width + $column-width);
      right: -($list-width + $column-width);
    }

    .big &.column-three {
      left: - (2 * $column-width) - $list-width;
      right: -$list-width;
    }

  }

}
