@import 'variables';
@import 'mixins';

.project-item {

  width: 50%;

  .container {
    position: relative;
    top: 0;
    border: 1px solid $grey;
    margin: 6px 3px 0 3px;
    opacity: 1;
    @include transition(all, 0.3s, linear);
    box-shadow: $grey-box-shadow;
    display: block;
  }

  &.invisible {
    .container {
//      opacity: 0;
//      top: 32px;
    }
  }

  .details-link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    z-index: 10;
  }

  .image-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
  }

  .image {
    position: absolute;
    width: auto;
    top: 0;
  }

  &.big {

    $container-height: 156px;

    .container {
      height: $container-height;
      background-color: #00f;
    }
    .image {
      height: $container-height;
    }
  }

  &.small {

    $container-height: 74px;

    .container {
      height: $container-height;
      background-color: #f00;
    }
    .image {
      height: $container-height;
    }
  }

  .keyword-container {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $transparent-grey;
    padding: 8px;
    text-align: center;
    display: block;
  }

  .keyword{
    font-size: 12px;
    color: #fff;
  }

  .keyword {
    display: inline;

    &:after {
      content: ', ';
    }
    &:last-child:after {
      content: '';
    }
  }

  .sub-title {
    font-weight: bold;
  }

  .sub-item {
    margin-top: 4px;
  }


}